@font-face {
    font-family: 'Gibson-Regular';
    src: url("../assets/regular1.eot");
    src: url("../assets/regular2.eot") format("embedded-opentype"),
    url("../assets/regular.woff2") format("woff2"),
    url("../assets/regular.woff") format("woff"),
    url("../assets/regular.ttf") format("truetype")
}
@font-face {
    font-family: 'Gibson-Light';
    src: url("../light.eot");
    src: url("../light2.eot") format("embedded-opentype"),
    url("/assets/light.woff2") format("woff2"),
    url("../assets/light.woff") format("woff"),
    url("../assets/light.ttf") format("truetype")
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
	padding: 0;
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1.6;
    -webkit-font-smoothing: antialiased;
	font-family: "Gibson-Regular", sans-serif;
	color: #151316;
	background-color: #fff;
}
a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	color: #151316;
	text-decoration: none;
}
a:visited {
	color: #151316;
}
a:hover {
	opacity: 0.75;
}

/*
 SECTIONS
*/
.section-wrapper {
	display: flex;
	justify-content: center;
}
.section {
	padding: 80px 50px 120px 50px;
	box-sizing: border-box;
	width: 1200px;
}
#main-wrapper {
	background-color: #F8FBFD;
}
#portfolio-wrapper {
	background-color: #FFFFFF;
}
#services-wrapper {
	background-color: #587792;
}
#references-wrapper {
	// none
}
#awards-wrapper {
	background-color: #f6f8fa;
}
#contact-wrapper {
	background-color: #334657;
}
#main {
	padding: 0 50px 0 50px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#contact {
	padding-bottom: 50px;
}
.header {
	color: #334657;
	text-align: center;
	font-size: 2em;
	margin-bottom: 80px;
}
/* .header:after {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 12px auto 0 auto;
    height: 3px;
    width: 80px;
    background: #fff;
} */



/*
 NAVIGATION
*/
.nav {
	height: 75px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	transition: all 350ms;
}
.nav-collapsed {
	height: 50px;
}
.nav-container-collapsed {
	box-shadow: 0 1px 10px rgba(0,0,0,0.16), 0 1px 10px rgba(0,0,0,0.23);
}
#nav > a {
	margin-left: 10px;
}
#nav-items a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-right: 30px;
}
#nav-items a:last-child {
	margin-right: 0px;
	color: #FFF;
}
#contact-link {
	padding: 6px 20px 6px 20px;
	border-radius: 50px;
	background-color: #587792;
}
.langs a {
	color: #000;
	margin-right: 10px;
	font-size: 0.5em;
}
.langs a:last-child {
	margin: 0;
}
#langs-top {
	flex-grow: 1;
	display: flex;
	align-items: center;
}
#langs-bottom {
	display: none;
	justify-content: center;
	margin-bottom: 10px;
}
#langs-bottom a {
	color: #fff;
}
#hero-container {
	/* height: 100%; */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#hero {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#hero h1 {
	margin-top: 50px;
	text-align: center;
	letter-spacing: 10px;
	font-size: 4.5em;
}
#hero span {
	color: #587792;
}
#hero h2 {
	font-family: "Gibson-Light";
	margin-top: 50px;
	color: #587792;
	width: 500px;
	text-align: center;
	font-size: 2em;
}

#hero h3 {
	font-size: 1.5em;
	letter-spacing: 15px;
	color: #587792;
}
#down-caret {
	margin-top: 200px;
	// animation: bounce 2s ease-out 0s infinite alternate;
}
/* @keyframes bounce {
    from   {top: 0px;}
    to {top: 25px;}
} */
#nav-container {
	width: 100%;
}




/*
PORTFOLIO
*/
.apps {
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.primary-app-wrapper, .secondary-app-wrapper, .ternary-app-wrapper, .primary-app2-wrapper {
	padding: 10px;
	box-sizing: border-box;
}
.primary-app, .secondary-app, .ternary-app, .primary-app2 {
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	display: block;
	width: 100%;
	height: 100%;
}
.primary-app-wrapper {
	width: 25%;	
}
.primary-app2-wrapper {
	width: 100%;
}
.primary-app2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.primary-app2 .primary-app-img-container {
	background-color: #FFFFFF;
}
.app-container {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.primary-app:hover, .secondary-app:hover, .ternary-app:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.25), 0 5px 15px rgba(0,0,0,0.22);
}
.primary-app-img-container, .secondary-app-img-container, .ternary-app-img-container {
	border-radius: 4px 4px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FAFAFA;
}
.primary-app-img-container img {
	padding: 20px;
	width: 75%;
	height: 100%;
	object-fit: contain;
	z-index: 1;
}
.app-text-container {
	padding: 15px;
}
.app-title {
	color: #334657;
	font-weight: bold;
	margin-bottom: 5px;
}
.app-desc {
	font-size: 0.85em;
}
.app-dl {
	color: #848484;
	margin-top: 5px;
	font-size: 0.7em;
}
.secondary-app-wrapper {
	width: 50%
}
.secondary-app {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.secondary-app-img-container {
	width: 30%;
	min-width: 30%;
}
.secondary-app-img-container img {
	padding: 10px;
	height: 80%;
	width: 80%;
	object-fit: contain;
}
.ternary-app-wrapper {
	width: 20%;
}
.ternary-app-img-container img {
	padding: 15px;
	height: 100%;
	width: 65%;
	object-fit: contain;
}

/* 
Gallery
*/
.images-container-wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 60%;
	position: relative;
}
.images-container-wrapper:hover > .scroll {
    opacity: 1;
}
.images-container-inner {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow-x: scroll;
	-ms-overflow-style: none;  // IE 10+
    overflow-x: -moz-scrollbars-none;  // Firefox
}
@-moz-document url-prefix() {
	 .images-container-inner {
		overflow-x: hidden;
	 }
 }
.images-container-inner::-webkit-scrollbar {
    display: none; // Safari and Chrome
}
.image-item-wrapper {
	padding: 10px;
	height: 100%;
	width: auto;
}
.image-item-wrapper:first-child {
	padding: 10px 10px 10px 20px;
}
.image-item-wrapper:last-child {
	padding: 10px 20px 10px 10px;
}
.image-item-wrapper img {
	height: 380px;
	object-fit: contain;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
}
.image-item-wrapper img:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.25), 0 5px 15px rgba(0,0,0,0.22);
}

.primary-app2-foo {
	padding-top: 45px;
	width: 250px;
	text-align: center;
}
.scroll {
	user-select: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	background-color: #424242;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	transition: opacity 250ms;
}
.scroll img {
	pointer-events: none;
}
.back {
	left: 0;
	border-radius: 0 4px 4px 0;
}
.next {
	right: 0;
	border-radius: 4px 0 0 4px;
}
body {
	position: relative;
}
.fullscreen-container {
	background-color: #FFF;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: opacity 250ms;
}
.is-fullscreen {
	opacity: 1;
	visibility: visible;
}
#fullscreen-container-inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#fullscreen-screen {
	flex-grow: 1;
	height: 1px;
	object-fit: scale-down;
	padding-bottom: 50px;
}
#fullscreen-cancel {
	align-self: flex-end;
	padding: 50px;
	cursor: pointer;
}
.fullscreen-container .scroll {
	opacity: 1;
}

/*
SERVICES
*/
#services-container {
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	justify-content: space-between;
}
.service {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#services h4 {
	color: #fff;
}
.service-img {
	width: 75px;
	margin-bottom: 20px;
}
.service-title {
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 10px;
	text-align: center;
}
.service-desc {
	width: 100%;
	color: #fff;
	font-size: 1.1em;
	text-align: center;
}


/*
REFERENCES
*/
#references-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reference-container {
	width: 45%;
	margin-bottom: 140px;
	display: flex;
	flex-direction: column;
}
.reference {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.reference-logo-container {
	width: 100px;
	height: 100px;
	flex-shrink: 0;
	border-radius: 50%;
	margin-right: 25px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 5px;
	padding: 10px;
	box-sizing: border-box;
	border-color: #f6f8fa;
}
.reference-logo-container img {
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}
.reference-text-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.reference-text {
	text-align: justify;
	font-size: 1.1em;
}
.reference-container:before {
    position: relative;
    margin-left: 125px;
    content: "\201C";
    display: block;
    text-align: center;
    line-height: .8;
    font-size: 6em;
    color: #587792;
    font-family: "Times New Roman";
}
.reference-by-title, .reference-by-subtitle {
	align-self: flex-end;
	font-weight: bold;
}
.reference-by-title, a.reference-by-title {
	margin-top: 15px;
	font-size: 1.3em;
	color: #587792;
}
.reference-by-subtitle, a.reference-by-subtitle {
	margin-top: 20px;
	font-size: 1em;
	color: #8BA1B4;
}
.reference-by-subtitle {
	color: #8BA1B4;
	font-weight: bold;
	font-size: 1em;
}


/*
AWARDS
*/
#awards div {
	margin-bottom: 50px;
}
#awards h3 {
	font-size: 1.3em;
	text-align: center;
	color: #587792;
	margin-bottom: 15px;
}
#awards p {
	font-size: 1.1em;
	text-align: center;
}
#awards a {
	color: #587792;
}


/*
CONTACT
*/
#contact h4 {
	color: #fff;
}
form {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #FFFFFF08;
	padding: 40px;
	border-radius: 4px;
	margin-bottom: 200px;
}
input, textarea, button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: #FFFFFF;
	border: 1px solid #FFFFFF33;
	border-radius: 4px;
	padding: 20px;
	font-size: 1.2em;
}
textarea {
	resize: none;
}
input::placeholder, textarea::placeholder {
	color: #FFFFFF77;
}
form button {
	color: #334657;
	font-weight: bold;
	background-color: #FFFFFF;
	border-radius: 50px;
	margin-top: 20px;
	padding: 15px;
	cursor: pointer;
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}
form button:hover {
	box-shadow: 0 3px 10px rgba(0,0,0,0.25), 0 5px 15px rgba(0,0,0,0.22);
}
form p {
	background-color: #587792;
	color: #FFFFFF;
	border: 1px solid #334657;
	padding: 12px 20px 12px 20px;
	border-radius: 4px;
}
#form-status {
/*	opacity: 0;*/
/*    height: 0;*/
/*    transition: opacity 0.5s ease, height 0.5s ease;*/
/* TODO transition */
	display: none;
}
#form-status.visible {
/*	opacity: 1;*/
/*    height: auto;*/
	display: block;
}
.icons {
	display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.icon {
	display: flex;
	flex-direction: column;
	width: 96px;
}
.icon img {
	display: block;
	margin: auto;
	width: 32px;
    height: 32px;
}
.icon div {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon p {	
	color: #fff;
	padding: 15px 5px;
	text-align: center;
	font-size: 0.75em;
}
#contact-container {
	position: absolute;
    left: 0;
    right: 0;
	background-color: #334657;
}
#cta-text {
	font-family: "Gibson-Light";
	font-size: 2em;
	color: #fff;
	margin-bottom: 50px;
	text-align: center;
}
#location {
	text-align: center;
	color: #fff;
}
#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#disclaimer {
	color: #fff;
	text-align: center;
	opacity: 0.75;
	font-size: 0.75em;
}

/*
RESPONSIVE
*/
@media only screen and (max-width: 1399px) {
    .section {
        width: 100%;
    }
	#references-container {
		padding: 0;
	}
	#hero h1 {
		font-size: 3.5em;
	}
	#hero h2 {
		font-size: 1.75em;
	}
	#hero h3 {
		font-size: 1.25em;
	}
}
@media only screen and (max-width: 819px) {
	.section {
		padding: 80px 25px 120px 25px;
    }
	#main {
		padding: 0 25px 0 25px;
	}
	#quax:before {
		content: "\A";
		white-space: pre;
	}
    .primary-app-wrapper {
		width: 33.33%;
	}
	.ternary-app-wrapper {
		width: 25%;
	}
	.nav {
		justify-content: center;
    }
	#nav-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#nav-items a {
		font-size: 0.55em;
		margin-right: 15px;
	}
	#langs-top {
		display: none;
	}
	#langs-bottom {
		display: flex;
	}
	.service {
		width: 45%;
		margin-bottom: 100px;
	}
	.reference-container {
		width: 100%;
		margin-bottom: 80px;
	}
	form {
		width: 80%;
	}
}
@media only screen and (max-width: 549px) {
	.app-container {
		width: 100%;
	}
	.primary-app-wrapper {
		width: 50%;
	}
	.ternary-app-wrapper {
		width: 33.3%;
	}
	#hero h1 {
		font-size: 2.8em;
	}
	#hero h2 {
		font-size: 1.4em;
		width: 100%;
	}
	#hero h3 {
		font-size: 1em;
	}
	/*
	* Vertical gallery
	*/
	.primary-app2 {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.images-container-wrapper {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 45px;
	}
	.images-container-inner {
		overflow-x: scroll;
	}
	.image-item-wrapper img {
		height: 300px;
		box-shadow: 0 0.5px 1px rgba(0,0,0,0.16), 0 0.5px 1px rgba(0,0,0,0.23);
		transition: none;
	}
	.image-item-wrapper img:hover {
		/* Same as without hover, i.e. disable animation */
		box-shadow: 0 0.5px 1px rgba(0,0,0,0.16), 0 0.5px 1px rgba(0,0,0,0.23);
	}
	.scroll {
		display: none;
	}
	#fullscreen-cancel {
		padding: 25px;
	}
	#fullscreen-screen {
		padding-bottom: 25px;
	}
@media only screen and (max-width: 479px) {
	.ternary-app .app-title {
		font-size: 0.8em;
	}
	#down-caret {
		width: 25px;
		margin-bottom: 50px;
	}
	#services-container {
		justify-content: center;
	}
	.service {
		width: 70%;
		margin-bottom: 100px;
	}
	.primary-app-img-container img {
		height: 125px;
	}
	.reference-logo-container {
		width: 75px;
		height: 75px;
	}
	.reference-container:before {
		position: relative;
		margin-left: 100px;
	}
	#cta-email {
		font-size: 1.25em;
	}
}
@media only screen and (max-width: 376px) {
	.primary-app-wrapper {
		width: 100%;
	}
	.ternary-app-wrapper {
		width: 50%;
	}
}
@media only screen and (max-height: 820px) {
	#down-caret {
		margin-top: 100px;
	}
}
@media only screen and (max-height: 481px) {
	#main {
		height: 600px;
	}
}
